// Landing Page

.landing-background {
   background-color: $My-Color-Theme-1;
   background-size: cover;
   min-height: 100vh;
}

.signup-text {
   color: $success;
   font-size: $font-size-base;
   font-family: $font-family-base;
}

.btn-landing {
   font-family: $font-family-base;
}

.card-text {
   font-size: $font-size-base;
   font-family: $font-family-base;
}

// Card Pages

.tab-separator {
   border-left: 1px $gray-800 solid;
}

.tab-active {
   background-color: $gray-800;
}

.card.bg-secondary {
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

textarea {
   width: 100%;
   background-color: transparent;

   /* https://stackoverflow.com/a/30899549 */
   border: none;
   overflow: auto;
   outline: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   resize: none;
}

.delete-verify {
   cursor: pointer;
}
